---
---

// Override theme colors if desired
// $text-color:       #111 !default;
// $background-color: #fdfdfd !default;
// $brand-color:      #2a7ae2 !default;

// $grey-color:       #828282 !default;

@import "minima";

// h1, h2, h3, h4, h5, h6
// {
//   color: #e47e00;
// }

// .site-title {
//     color: #e47e00;
// }

.post-link {
    @include relative-font-size(1.25);
  }

/* For the Home layout, create two equal columns that float next to each other */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_responsive */

.home_column1 {
  float: left;
  width: 35%;
  padding: 15px;
  box-sizing: border-box;
}

.home_column2 {
  float: left;
  width: 65%;
  padding: 15px;
  box-sizing: border-box;
}

/* Clear floats after the columns */
.home_row:after {
  content: "";
  clear: both;
  display: block;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .home_column1 {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;

  }
  .home_column2 {
    width: 100%;
    padding: 0px;
  }
}
